In [3]:
import pandas as pd
import requests

In [7]:
url = "https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&languahe=en-US&page=1"

response = requests.get(url)

In [18]:
df = pd.DataFrame(response.json()["results"])[['id','title','popularity','vote_average','vote_count']]

In [19]:
df.head()

    id                     title  popularity  vote_average  vote_count
0  278  The Shawshank Redemption     37.3427         8.711       29119
1  238             The Godfather     27.4185         8.686       21996
2  240     The Godfather Part II     15.5503         8.571       13293
3  424          Schindler's List     15.8299         8.566       16816
4  389              12 Angry Men     10.9134         8.547        9488

In [20]:
df = pd.DataFrame()

In [25]:
for i in range(1,5):
    response = requests.get(f"https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={i}")
    temp_df = pd.DataFrame(response.json()["results"])[['id','title','popularity','vote_average','vote_count']]
    df = pd.concat([df,temp_df],ignore_index=True)

In [26]:
df

        id                     title  popularity  vote_average  vote_count
0      278  The Shawshank Redemption     37.3427         8.711       29119
1      238             The Godfather     27.4185         8.686       21996
2      240     The Godfather Part II     15.5503         8.571       13293
3      424          Schindler's List     15.8299         8.566       16816
4      389              12 Angry Men     10.9134         8.547        9488
..     ...                       ...         ...           ...         ...
75   92321        Hotarubi no Mori e      0.0059         8.271        1172
76      28            Apocalypse Now     10.0849         8.271        8712
77  632632                     Given      4.4289         8.268         408
78     901               City Lights      3.3762         8.265        2337
79     975            Paths of Glory      4.5612         8.260        3115

[80 rows x 5 columns]