# **One Hot Encoding**
* Used for nominal categorical data.
* what it does: Makes a column for each category and when ever that category has to be encoded, it assigns 1 to that and 0 to others making a unique number. (>>> example in image)


![ytss](assets/OneHotEncoding.png)



Even if I have 50 different categories all occuring approximately equal number of times, OHE would still make 50 differnet columns for encoding them.



### Dummy Variable Trap  
ion know why its named like that... but basically what we do in it is we remove one column from input columns... lets say we remove Color_Y from above example, but if we remove, how would we differentiate between columns or even so how would we recognize any of them?.. Well taking a closer look we can see that each entry has only one "1" in them... like the code for red:[0,0,1], code for yellow is: [1,0,0] and for blue is: [0,1,0]. Now if we remove the Color_Y column these codes will look like yellow: [0,0], red:[0,1], blue: [1,0]. How can we differentiate: only column which has both 0s is yellow and other two are already unique so problem solved. we are able to differentiate even without the first column...  


Doing this also solved Multicollinearity, Multicollinearity occurs when input columns have some kind of mathematical relation between them. its a ML wisdom that the input should always be independent and label column should be dependent. if they are dependent it causes multicollinearity.  
In our example,  
before doing the dummy variable shii. was there some kind of mathematical relation coming up from input columns? yeah it was... adding them always makes "1", shown in Target column. so doing what we did just now also reduces Multicollinearity because some of the cells now will only have 0s in them making the sum/Target 0.  



### OHE Using Most Frequent Variables  
if we have a dataset (shape:(400,6)) of cars and there is a column named "brand" having 40 categories from which 5 categories are being repeated most of them time like 346 records are from these categories. then we encode these frequent categories with OHE and all of then other 35 categories are coupled into one let's say "others" reducing a lot of computational time for machine... because now we only have to create a 6 columns whereas earlier we had to create 40 columns.  
_(this is just an example but it does happen)_

### Let's code

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("assets/cars.csv")
df.sample(5)

        brand  km_driven    fuel         owner  selling_price
5966   Maruti      40000  Petrol   First Owner         695000
1919     Tata     205000  Diesel  Second Owner          99000
5575  Hyundai      80000  Diesel  Second Owner         530000
5429  Hyundai      90000  Petrol   Third Owner         170000
7536   Maruti      84000  Petrol  Second Owner         330000

In [5]:
df.shape

(8128, 5)

## 1. OneHotEncoding Using Pandas

In [7]:
 # skipping brand for now because that would make too many columns because there are total of 32categories in it.will be dealt later.
pd.get_dummies(df,columns=['fuel','owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False

What happened here is that fuel and owner had both 4 and 5 categories respectively. so that much of columns got added making total of 12 columns now,not to worry about true false formart. can be changed when wanted. still represents the same idea. now here we haven't subtracted one columns from all of the dataset as disscussed under Dumme variable section, let's do that.

## 2. K-1 OneHotEncoding

In [8]:
pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,True,False,False,False,False
8124,Hyundai,119000,135000,True,False,False,True,False,False,False
8125,Maruti,120000,382000,True,False,False,False,False,False,False
8126,Tata,25000,290000,True,False,False,False,False,False,False
8127,Tata,25000,290000,True,False,False,False,False,False,False

Now we dont have fuel_CNG and owner_First Owner columns  
Doing this with pandas is not official because doesn't remember it that which one got which code.

## OneHotEncoding Using sklearn

In [12]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(df.drop("selling_price",axis=1),
                                                df['selling_price'],
                                                test_size=0.2,
                                                 random_state=0)
X_train.shape,X_test.shape

((6502, 4), (1626, 4))

In [13]:
X_train.head()

         brand  km_driven    fuel         owner
3042   Hyundai      60000     LPG   First Owner
1520      Tata     150000  Diesel   Third Owner
2611   Hyundai     110000  Diesel  Second Owner
3544  Mahindra      28000  Diesel  Second Owner
4138    Maruti      15000  Petrol   First Owner

In [29]:
from sklearn.preprocessing import OneHotEncoder

In [36]:
ohe=OneHotEncoder(drop='first',sparse_output=False) # dropping first to tackle multicollinearity, sparse>flase makes it numpy array otherwise will have to do manually  .toarray() after encoding.

here the problem is that we have to separate the columns on which onehotencoding is going to be applied... there is a proper way to do it called Column Tranformer, but thats due for next lecture for now : jugar.

In [37]:
X_train_new = ohe.fit_transform(X_train[['fuel','owner']])
X_test_new = ohe.transform(X_test[['fuel','owner']])

now we gotta take these columns and stack them with the first two columns(brand, km driven of actual X_train)

In [38]:
X_train[['brand','km_driven']].values # got in the same format as X_train_new

array([['Hyundai', 60000],
       ['Tata', 150000],
       ['Hyundai', 110000],
       ...,
       ['Hyundai', 90000],
       ['Volkswagen', 90000],
       ['Hyundai', 110000]], dtype=object)

In [39]:
np.hstack((X_train[['brand','km_driven']].values,X_train_new)).shape  #hstack: horizontally stack shii

(6502, 9)

## 4. OneHotEncoding for Top Categories

In [41]:
counts = df['brand'].value_counts() #let's make a threshold for upto 100. meaning: every brand that has been recorded less then 100 times will be classified as other.

In [44]:
type(counts)

pandas.core.series.Series

In [47]:
df['brand'].nunique()
threshold=100

In [51]:
replace = counts[counts <= threshold].index

In [52]:
pd.get_dummies(df['brand'].replace(replace,"other"))

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,other
0,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,False,False,False,False,True,False,False,False,False,False,False,False,False
8124,False,False,False,False,True,False,False,False,False,False,False,False,False
8125,False,False,False,False,False,False,True,False,False,False,False,False,False
8126,False,False,False,False,False,False,False,False,False,True,False,False,False
8127,False,False,False,False,False,False,False,False,False,True,False,False,False

In [57]:
pd.get_dummies(df['brand'].replace(replace,"other")).replace({True:1,False:0})

C:\Users\jawwa\AppData\Local\Temp\ipykernel_15400\147523417.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pd.get_dummies(df['brand'].replace(replace,"other")).replace({True:1,False:0})

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,other
0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,0,0,0,0,1,0,0,0,0,0,0,0,0
8124,0,0,0,0,1,0,0,0,0,0,0,0,0
8125,0,0,0,0,0,0,1,0,0,0,0,0,0
8126,0,0,0,0,0,0,0,0,0,1,0,0,0
8127,0,0,0,0,0,0,0,0,0,1,0,0,0